In [14]:
import pandas as pd

file_path = 'example_data.csv'
print('문제1: 데이터프레임')

print(df)

문제1: 데이터프레임

NameError: name 'df' is not defined

In [ ]:
print('문제2: 기본 정보 출력')
print(df.info())

문제2: 기본 정보 출력
<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   학번      20 non-null     int64
 1   이름      17 non-null     object
 2   학년      17 non-null     float64
 3   점수      20 non-null     int64
 4   분반      20 non-null     object
 5   공부시간    20 non-null     int64
dtypes: float64(1), int64(3), object(2)
memory usage: 1.1+ KB
None

In [ ]:
print('문제 3: 숫자 데이터의 기초 통계량 출력')
print(df.describe())

문제 3: 숫자 데이터의 기초 통계량 출력
             학번         학년          점수       공부시간
count  20.00000  17.000000   20.000000  20.000000
mean   10.50000   2.823529   92.000000   4.450000
std     5.91608   1.185079   39.039791   5.771755
min     1.00000   1.000000   60.000000   0.000000
25%     5.75000   2.000000   69.750000   1.000000
50%    10.50000   3.000000   85.500000   3.000000
75%    15.25000   4.000000   94.250000   5.000000
max    20.00000   4.000000  200.000000  20.000000

In [ ]:
print('문제 4: 결측치 확인하기')
print(df.isnull().sum())

문제 4: 결측치 확인하기
학번      0
이름      3
학년      3
점수      0
분반      0
공부시간    0
dtype: int64

In [ ]:
print('문제 5: 이상치 확인(조건)')
outlier_df = df[(df['점수'] > 100) | (df['공부시간'] > 10)]
print('이상치 개수',len(outlier_df))
print(outlier_df)

문제 5: 이상치 확인(조건)
이상치 개수 4
    학번    이름   학년   점수 분반  공부시간
2    3   강감찬  4.0   91  C    20
10  11   NaN  1.0  200  C     0
11  12  신사임당  2.0   96  A    20
18  19   이순신  1.0  200  A     3

In [ ]:
print('문제 6: 완전 중복 행 확인')
print('중복 제거 전 데이터프레임 크기:',df.shape)
print("완전 중복 행 개수:",df.duplicated().sum())
print(df[df.duplicated()])

문제 6: 완전 중복 행 확인
중복 제거 전 데이터프레임 크기: (21, 6)
완전 중복 행 개수: 1
    학번    이름   학년  점수 분반  공부시간
20  20  신사임당  2.0  61  A     2

In [ ]:
print('문제 7: 완전 중복 제거')
initial_rows = df.shape[0]
df_no_duplicates = df.drop_duplicates()
print('중복 제거 후 데이터프레임 크기:', df_no_duplicates.shape)
print('제거 된 행 수:', rows_removed)
print(df_no_duplicates)

문제 7: 완전 중복 제거
중복 제거 후 데이터프레임 크기: (20, 6)
제거 된 행 수: 1
    학번    이름   학년   점수 분반  공부시간
0    1  신사임당  NaN   69  B     4
1    2   홍길동  1.0   92  B     3
2    3   강감찬  4.0   91  C    20
3    4   강감찬  2.0   70  C     5
4    5   강감찬  3.0   83  C     5
5    6   이순신  4.0   95  A     0
6    7   강감찬  4.0   71  C     1
7    8   김유신  NaN   88  B     5
8    9  신사임당  3.0   94  A     9
9   10   홍길동  NaN   60  B     3
10  11   NaN  1.0  200  C     0
11  12  신사임당  2.0   96  A    20
12  13   김유신  4.0   65  A     0
13  14   NaN  2.0   98  C     1
14  15   홍길동  4.0   77  A     2
15  16   이순신  4.0   75  A     4
16  17   NaN  3.0   64  A     2
17  18   홍길동  4.0   91  A     0
18  19   이순신  1.0  200  A     3
19  20  신사임당  2.0   61  A     2

In [4]:
print('문제9: 시각화')

plt.figure(figsize=(10, 6))
sns.scatterplot(data=df, x='공부시간', y='점수')
plt.title('공부시간과 점수의 산점도')
plt.xlabel('공부시간')
plt.ylabel('점수')
plt.grid(True)
plt.show()

문제9: 시각화

NameError: name 'plt' is not defined

In [8]:
data = pd.Series([10, 11, 12, 13, 14, 15, 100, 101])

NameError: name 'pd' is not defined

In [10]:

Q1 = data.quantile(0.25)
Q3 = data.quantile(0.75)
IQR = Q3 - Q1

print(f"Q1: {Q1}")
print(f"Q3: {Q3}")
print(f"IQR: {IQR}")

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

print(f"하한 (Lower Bound): {lower_bound}")
print(f"상한 (Upper Bound): {upper_bound}")

outliers = data[(data < lower_bound) | (data > upper_bound)]

print("이상치:")
print(outliers)

NameError: name 'data' is not defined

In [12]:
print('문제 10')


def remove_outliers_iqr(df, column):

  Q1 = df[column].quantile(0.25)
  Q3 = df[column].quantile(0.75)
  IQR = Q3 - Q1

  lower_bound = Q1 - 1.5 * IQR
  upper_bound = Q3 + 1.5 * IQR

  df_filtered = df[(df[column] >= lower_bound) & (df[column] <= upper_bound)].copy()
  return df_filtered


df_no_outliers_score = remove_outliers_iqr(df, '점수')

df_no_outliers_final = remove_outliers_iqr(df_no_outliers_score, '공부시간')

print("이상치 제거 후 데이터프레임:")
print(df_no_outliers_final)

문제 10

FileNotFoundError: [Errno 2] No such file or directory: 'example_data.csv'

In [13]:
print('문제 11')

average_score_by_class = df.groupby('분반')['점수'].mean()

print("분반별 평균 점수:")
print(average_score_by_class)

문제 11

NameError: name 'df' is not defined

In [ ]:
plt.figure(figsize=(10, 6))
plt.bar(class_mean.index, class_mean.values, color='skyblue',width=0.6)
plt.title('분반별 평균 점수',fontsize=16)
plt.xlabel('분반',fontsize=14)
plt.ylabel('평균 점수',fontsize=14)
plt.grid(True)
plt.show()